@import "./variables.scss";
@import "./font.scss";
// .sidenav{
//   display: none;
// }
.public{
  display: none;
}
.private-header {
  position: fixed;
  min-width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  background-color: black;
  height: 80px;
}

.private-header .head-logo {
  position: relative;

  float: left;
}

.private-header .name {
  flex: 1;
  color: white;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  float: right;
  margin-right: 5%;
}

.private-header #profileImage {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #512da8;
  font-size: 13px;
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  margin-right: 5%;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .private-header img {
    //   margin-left: 0;
  }

  .private-header .name {
    display: none;
  }

  .hamburger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
  }

  .hamburger-menu .line {
    background-color: #fff;
    transition: all 0.3s ease;
  }

  .hamburger-menu.show-menu .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger-menu.show-menu .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger-menu.show-menu .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .sidebar-wrap {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    z-index: 9999;
  }

  .sidebar-wrap .back-drop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  

  .sidenav {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100vh-70px);
    z-index: 999;
  }

  .hide {
    display: none;
  }

  .show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.sidenav {
  background-color: black;
  display: flex;
  // position: fixed;
  flex-direction: column;
  row-gap: 15px;
  padding: 20px;
  position: fixed;
  top: 70px;
  left: 0;
  width: 200px;
  height: calc(100vh - 70px);
  
 

  a {
    font-size: 19px;
    text-decoration: none;
    line-height: 3;
    color: white;
    display: block;
    // margin-bottom: 16px;
  }

  .progress {
    width: 80%;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    row-gap: 20px;
    margin-bottom: 16px;
    span{
      color: white;
      font-weight: 100;
      font-family: "Outfit";
    }
  }
  .view-plans {
    background-color: rgb(41, 39, 39);
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 1px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    color: white;

    .view-plans-button {
      font-size: 12px;
      font-weight: 100;
      height: 30px;
      width: 20px;
    }
  }
}

//User dashboard

.dashboard {
  background-color: rgb(41, 39, 39);
  color: white;
  display: flex;
  min-height: 100vh;
  height: 100%;
  
  // position:relative;
  // justify-content: center;
  padding-left: 350px;
  @media screen and (max-width: 1100px) {
    padding-left: 275px;
  }
}

.dashboard-data {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 50px;
  position: relative;
  // margin-left: 200px;
  margin-top: 100px;
}

.upload-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.button-container {
  background-color: inherit;
  width: 350px;
  outline: none;
  color: white;
  background: none;
  border: none;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  border: 1px solid #7a7a7a;
  border-radius: 5px;
  gap: 15px;
  padding: 10px;
  line-height: 0;
  .name-container{
    display: flex;
    gap: 5px;
  }
  
  @media screen and (max-width: 1200px) {
    width: 300px;
  }

}
.dashboard .project{
  font-size: 20px;
  font-family: "Outfit";
  font-weight: 100;
  color: #9a9a9a;
  padding: 20px;
}

.dashboard h4 {
  font-size: 14px;
  flex: 1;
}

.dashboard p {
  font-size: 12px;
  font-weight: 100;
  color: #a5a5a5;
  flex: 1;
}

.uploadbutton {
  background-color: inherit;
  color: #9c9a9a;
  border: none;
  outline: none;
  background: none;
  font-size: 26px;
}

.table-data {
  border-radius: 10px;
  border: #4f4f4f solid;
  font-size: 16px;
  display: flex;
  justify-content: center;
  line-height: 3;

  td {
    padding-left: 15px;
    padding-right: 15px;
    .share-link{
      font-size: 12px;
    }

    .custom-button {
      background-color: white;
      border-radius: 15px;
      font-size: 12px;
      height: 25px;
      width: 60px;
    }
    button {
      background-color: inherit;
      border: none;
      outline: none;
      background: none;
      color: #07bdff;
    }
  }
}

.small-table-data {
  display: none;
}

@media screen and (max-width: 1200px) {
  .dashboard-data {
    // margin-left: 300px;
  }

  .table-data {
    td {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

@media screen and (max-width: 999px) {
  @include flex;
  .dashboard-data {
    margin-top: 100px;
    // margin-left: 250px;
  }
  .table-data {
    display: none;
  }

  .small-table-data {
    display: block;
  }

  .small-table-data table {
    width: 100%;
    color: #fff;
    font-size: 14px;
    column-gap: 10%;
    row-gap: 10px;
    border-radius: 10px;
    border: #4f4f4f solid;
    display: flex;
    width: 330px;
    padding: 10px;
  }

  .small-table-data td {
    padding-left: 30px;
  }
  .name{
    max-width: 150px;
    overflow: scroll;
  }

  .small-table-data tr{
   width: 300px;
  }

  .table-menu{
   padding-right: 10px;
  }
}

@media screen and (max-width: 768px) {
  .dashboard{
    padding-left: 0px;
    display: flex;
    justify-content: center;
  }
    .dashboard-data {

      margin-top: 100px;
      margin-left: 0px;
    }
    .table-data {
      display: none;
    }

    .upload-buttons{
     flex-direction: column;
    }
    .small-table-data {
      display: block;

    }

    .small-table-data table {
      width: 100%;
      color: #fff;
      font-size: 14px;
      column-gap: 10%;
      row-gap: 10px;
      border-radius: 10px;
      border: #4f4f4f solid;
      display: flex;
      width: 330px;
      padding: 10px;
      justify-content: space-around;
    }

    .small-table-data td {
      
     padding-right: 30px;
    //  display: flex;
    //  flex-wrap: wrap;
    //  justify-content: space-;
    }
}


// Table menu

.action {
   display: flex;
   align-items: center;
  //  padding-left: 130px;

  //  svg {
  //    margin-right: 23px;

  //    path {
  //      stroke: #898989;
  //    }
  //  }

   span {
     width: 4px;
   }
 }

 

.three-dots {
  align-self: flex-end;
  display: flex; 
  align-items: center;
  border: none;
  background-color: inherit;
  
  
  span {
    background-color: white;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 3px;
    
    &:last-child {
      margin-right: 0; 
    }
  }
}

 .action{

 .dropdown {
   position: relative;
   display: inline-block;
 
   .dropdown-content {
     display: none;
     position: absolute;
     z-index: 1;
     right: 0;
 
     .dropdown-list {
       background-color: black;
       min-width: 100px;
       box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
       border: 1px solid #5f5d5d;
       border-radius: 5px;
       position: relative;
       
 
       li {
         @include flex;
         padding: 5px;
         font-size: 12px;
         font-weight: $regularText;
         color: $blackText;
         cursor: pointer;
         color: rgb(246, 246, 246);
 
         span {
           margin-left: 15px;
         }
 
         svg {
           min-width: 20px;
         }
 
         &:hover {
           color: #474792;
         }
 
         &:last-child {
           border-bottom: none;
         }
 
         
 
        
       }
 
       &::before {
         content: "";
         width: 25px;
         height: 25px;
         position: absolute;
         right: 5px;
         top: -17px;
         z-index: -1;
         // background-image: url(../assets/images/drop-arrow.svg);
       }
     }
   }
 
   &:hover .dropdown-content {
     display: block;
   }
 }
 
 .outline-icon-btn {
   .dropdown-btn {
     margin-right: 0;
 
     .dropdown-navmenu {
       @include full-space;
       @include flex-center;
     }
   }
 
   .dropdown-content {
     min-width: 210px;
 
     a {
       @include flex;
     }
 
     .icon {
       width: 20px;
       display: block;
       margin-right: 15px;
 
       svg {
         width: 100%;
       }
     }
   }
 }
}



// Home Page
 
// POPUP

/* ShareButton.css */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: rgb(23, 23, 23);
  padding: 20px;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;

  button{
    font-size: 12px;
    margin-top: 10px;
    height:35px;
  }
  .button-group{
    display: flex;
    gap: 10px;
  }
}

.addnew-popup {
  background-color: rgb(23, 23, 23);
  padding: 20px;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  button{
    font-size: 12px;
    margin-top: 10px;
    height:35px;
  }
  .button-group{
    display: flex;
    gap: 10px;
  }
}


// Slick-Slider
.slick-dots {
  // margin-top: 10px;
  position: relative;
}
.slick-dots li{
  margin: 0;

}
.slick-dots li button{
 all: unset;
    overflow: hidden;
    display: block;
    border: solid #fff 1px;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    text-indent: -9999px;
    // margin: 0 1vw;

  // width: 10px;
  // height: 10px;
  // content: "";
  // border: 2px solid white;
  // border-radius: 50%;
}
.slick-dots li.slick-active button{
  margin-top: 0;
  border-color: transparent;
  background-image: linear-gradient(to right, #06BFFF, #2B74FF);
  background-size: calc( 100% + 8px );
  background-position: center center;
}

.slick-slide img {
  display: flex;
}



// error page

.error-page{
  background-image: url('../assets//Error/error_bg.png');
  background-repeat: no-repeat;
  background-size:cover;
  // background-size: 100%;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  flex-wrap: wrap;
  padding-top: 50px;
  *{
    // padding-bottom: 20px;
  }
}
.error-page img{
  width: 350px;
  @media screen and (max-width: 768px) {
   
    width: 300px;
    margin-bottom: 10vh;
  }
}
  
.error-content{
  color: white;
  padding-right: 150px;
  width: 430px;
 float:right;
 text-align: right;
//  margin-top: -50px;
 @media screen and (max-width: 1300px) {
  margin-top: -50px;
 }
 @media screen and (max-width: 768px) {
  padding-right: 50px;
  width: 300px;
  justify-content: center;
  align-self: center;
  text-align: center;
  margin-top: 0;
 }

  
  h2{
    font-size: 48px;
    font-weight: bold;
    margin: 0px;
    font-family:"Avenir Next";
    @media screen and (max-width: 1100px) {
      font-size: 38px;
    }

  }
  p{
    font-size: 24px;
    font-family:"Avenir Next";
    @media screen and (max-width: 1100px) {
      font-size: 20px;
    }
  }
}
.error-button{
  width: 225px;
  height: 68px;
  background: inherit;
color: white;
  background-color: transparent;
  border: 1px solid white;
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 20px;
  border-radius: 20px;
  font-family:"Avenir Next";
  // appearance: none;
  @media screen and (max-width: 1100px) {
    height: 50px;
    width: 180px;

  }

}


// Loader

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0); 
}

.loader-container {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.loader {
  width: 100%;
  height: 100%;
  animation: rotate 1s linear infinite;
}

.loader img {
  filter: brightness(0) invert(1);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}