@font-face {
    font-family: 'Avenir Next';
    font-weight: 400;
    src: local('Avenir'), url("../assets//fonts//AvenirNextLTPro-Regular.otf") format('opentype');
}
// @font-face {
//     font-family: 'Magistral';
//     font-weight: 700;
//     src: local('Magistral'), url(../assets/fonts/MagistralBold.otf) format('opentype');
// }
@font-face {
    font-family: 'Avenir Next';
    font-weight: 800;
    src: local('Avenir'), url(../assets//fonts/AvenirNextLTPro-Bold.otf) format('opentype');
}