@import "./variables.scss";

// * {
//   box-sizing: border-box;
// }
html {
  width: 100%;
  height: auto;
  min-height: 100vh;
}

body {
  margin: 0 auto;
  width: 100%;
  // max-width: 1440px;
  height: 100%;
  min-height: 100vh;
  // overflow: hidden;
  font-family: "Roboto";
}

#root {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

// reusable styles

@mixin full-space {
  width: 100%;
  height: 100%;
}

@mixin flex {
  display: flex;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-end {
  display: flex;
  justify-content: flex-end;
}

@mixin object-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@mixin position-center {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

// public header

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  // justify-content: space-between;
  background-color: black;
  height: 70px;
  color: #292929;
  img {
   float: left;
    max-height: 200px;
    max-width: 300px;
    max-width: 100%;
    @media screen and (max-width: 999px) {
      width: 200px;
    }
  }

  .navlink {
    // margin-left: 80px;
    display: flex;

    a,
    button {
      margin-right: 40px;
      font-size: 16px;
      text-decoration: none;
      color: #676363;
    }
  }
  @media screen and (max-width: 789px) {
    .navlink {
      display: none;
    }
  }
  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .navlink a:hover,
  .dropdown:hover .dropbtn {
    color: #b4b4b4;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: #000000;
  }

  .dropdown-content a:hover {
    color: #b4b4b4;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .login-btn {
    
    display: flex;
    justify-content: center;
    gap: 10px;

    img {
      width: 10px;
      height: 10px;
      margin-top: 0px;
    }
    @media screen and (max-width: 789px) {
        height: 20px;
        span{
          font-size: 10px;
        }
    }
  }
}

// sidenav



// button

.custom-btn {
  min-width: 120px;
  height: 45px;
  padding: 5px 20px;
  font-size: 16px;
  font-weight: $boldText;
  color: $whiteText;
  background: $lineargradient;
  @include flex-center;
  text-transform: none;
  border: none;
  transition: 0.3s background-color;
  -webkit-transition: 1s background-color;
  position: relative;
  border-radius: 100px;
  letter-spacing: 1px;

  @media screen and (max-width: 767px) {
    min-height: 39px;
  }
}

// Footer

.footer {
  display: flex;
  height: 300px;
  font-size: 13px;
  background-color: #0a142f;
  color: $whiteText;
  justify-content: center;
  align-items: center;
  gap: 100px;
  line-height: 1.5;
  
  @media screen and (max-width: 788px) {
    gap: 00px;
    font-size: 8px;
  }
  img {
    width: auto;
    height: 200px;

    @media screen and (max-width: 1100px) {
      display: none;
    }
  }
  .contact-details {
  }
  .footer-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-navlinks {
    display: flex;
    gap: 100px;
    @media screen and (max-width: 788px) {
      gap: 00px;
    }
  }

  ul {
    list-style-type: none;
    li {
      padding: 10px;
    }
  }
}

// Home
.home {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../assets/home/BG.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  position: relative;
 

  .home-top {
    min-width: 100%;
    padding-top: -80px;
    font-family: "Roboto";
    margin-bottom: 100px;
   

    .home-heading {
     
      
      p {
        
        text-align: center;
        color: #ffffff;
        font-size: 90px;
        font-weight: bold;
        line-height: 0.9;
        
        img {
          margin-bottom: -30px;
          font-size: 62px;
        }
      }
      @media screen and (max-width: 768px) {
        p {
          font-size: 55px;
          line-height: 1.3;
          padding: 10px;
        }
        p br {
          display: none;
        }
        img {
          width: 140px;
          font-weight: bold;
        }
      }
    }
    .main-sub {
      p {
        color: white;
        font-size: 20px;
        text-align: center;
        margin-top: -20px;
        font-family: "Roboto";
        @media screen and (max-width: 768px) {
          font-size: 12px;
        }
      }
    }
    .home-button {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      gap: 20px;

      button {
        width: 160px;
        @media screen and (max-width: 768px) {
          font-size: 10px;
          width: 125px;
          height: 30px;
        }
      }
    }
  }

  .second-image {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    img {
      max-width: 90%;
      height: auto;
    }
  }
  .product-positives {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    .headings {
      font-size: 75px;
      text-align: center;
      font-family: "Outfit";
      @media screen and (max-width: 768px) {
        font-size: 30px;
      }
      .blue-text {
        font-weight: bold;
      }
    }
    .points {
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: 25px;
      flex-wrap: wrap;

      .column {
        flex: 25%;
      }
      @media screen and (max-width: 768px) {
        font-size: 18px;
        .column {
          flex: 50%;
        }
      }
    }
  }
  .see-it-in-action {
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    @media screen and (max-width: 768px) {
      height: 100%;
      padding-bottom: 50px;
      span{
        padding-top: 0px;
      }
    }

    span {
      color: #000000;
      margin-top: 50px;
      margin-bottom: 50px;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 10px;
    }
    img {
      max-width: 600px;

      // height: 393px;
      border: #0a142f;

      @media screen and (max-width: 768px) {
        width: 300px;
      }
    }
  }
  .guide {
    background-color: #0b0e1b;
    padding-bottom: 100px;
    width: 100%;

    .guide-points {
      flex-wrap: wrap;
      margin: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: justify;
      gap: 200px;
      padding-top: 100px;
      div {
        max-width: 430px;
        height: 150px;

        h2 {
          font-family: "Outfit";
          font-size: 37px;
          font-weight: bold;
        }
        p {
          font-size: 15px;
          font-family: "Roboto";
        }
        a {
          color: #57bfff;
          font-size: 15px;
          font-weight: 600;
          font-family: "Roboto";
        }
      }
      img {
        height: 200px;
      }
      @media screen and (max-width: 1050px) {
        flex-direction: column;
        gap: 0;
        div h2 {
          font-size: 25px;
        }
        div p {
          font-size: 12px;
        }

        img {
          order: -1;
        }
      }
    }
  }
  .features {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    .feature-heading {
      max-width: 498px;
      height: 125px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      * {
        margin: 30px;
      }

      h2 {
        font-size: 35px;
        font-family: bold;
      }
      p {
        font-size: 19px;
        margin-top: -20px;
        text-align: center;
      }

      @media screen and (max-width: 768px) {
        h2 {
          font-size: 25px;
        }
        p {
          font-size: 13px;
        }
      }
    }
    .feature-components {
      display: flex;
      flex-wrap: wrap;

      justify-content: center;
      align-items: center;
      gap: 40px;
      padding-bottom: 40px;

      div {
        align-items: center;
        text-align: center;
        flex-basis: calc((100% - 2 * 40px) / 4);
        width: 200px;
        height: 150px;
        padding: 30px;
        h2 {
          font-size: 19px;
        }
        p {
          font-size: 14px;
        }
      }
    }
    img {
      height: 50px;
    }

    .feature-slider {
      display: none;
    }

    @media screen and (max-width: 768px) {
      .feature-components {
        display: none;
      }
      .feature-slider {
        display: block;
        background-color: #292929;
        border-radius: 20px;
        padding: 50px;
      }
      .slider-component {
        display: flex;
        flex-direction: column;
        align-content: center;
        text-align: center;
        justify-content: center;
        h2 {
          font-size: 15px;
        }
        p {
          font-size: 12px;
        }
        img {
          display: inherit;
          height: 100px;
        }
      }
    }
  }
}

// 3D Studio

.studio {
  // background-image: url('../assets/BGConfigurator.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 100%;

  .studio-main {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 100px;
    @media screen and (max-width: 770px) {
      flex-direction: column;
      align-content: center;
      align-items: center;
      text-align: center;
      gap: 0px;
      margin-top: 50px;
    }

    div {
      span {
        font-size: 54px;
        font-weight: bold;
        @media screen and (max-width: 1150px) {
          font-size: 40px;  font-weight: bold;
        }
        @media screen and (max-width: 1150px) {
          font-size: 30px;
          
        }
      }
      img {
        max-width: 58px;
        height: 61px;
        @media screen and (max-width: 1150px) {
          max-width: 38px;
        height: 41px;
        }
        
      }
      button {
        margin: 30px;
      }
    }
  }
  img {
    width: 389px;
    height: 388px;
    @media screen and (max-width: 1150px) {
      width: 289px;
    height: 288px;
    @media screen and (max-width: 770px) {
      order:-1
    }

    }
    
  }
  .about-bigsurmoon {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    max-width: 932px;
    margin: 20px;
    padding-bottom: 100px;
    h2 {
      font-size: 46px;
      font-weight: bold;
      @media screen and (max-width: 770px) {
        font-size: 30px;
      }
    }
    p {
      font-size: 18px;
      @media screen and (max-width: 770px) {
        font-size: 15px;
      }
    }
  }
  .special-about-us {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;

    h1 {
      font-size: 25px;
      font-weight: bold;
      letter-spacing: 10px;
      margin-bottom: 200px;
      @media screen and (max-width: 1000px) {
        font-size: 20px;
        margin-bottom: 50px;
      }
    }
    
      
    
    .components {
      display: flex;
      gap: 50px;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
     

      @media screen and (max-width: 1150px) {
        flex-grow: 1;
        flex: 50%;
        div{
          margin-left: 100px;
          margin-right: 100px;
          margin-bottom: 50px;
        }
      }
      

      div {
        width: 250px;
        height: 300px;
        background-color: #292929;
        border-radius: 10%;
        text-align: center;
        img {
          width: 121px;
          height: 145px;
          margin-top: -80px;
        }
        h2 {
          font-size: 20px;
        }
        p {
          font-size: 16px;
          padding: 20px;
        }
      }
    }
    .studio-slider{
      display: none;
    }
    @media screen and (max-width: 1000px) {
      .components{
        display: none;
      }
      .studio-slider{
        display: block;
       
        div {
          justify-content: center;
          align-items: center;
         
            background-color: #292929;
            border-radius: 10%;
            text-align: center;
            
          }
          h2 {
            font-size: 20px;
          }
          p {
            font-size: 16px;
            padding: 20px;
          }
          img{
            
            height: 150px;
            padding-top: -200px;
            
          }
        
      }
    }

  }
  .studio-details {
    background-color: #070911;
    flex-direction: column;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 200px;


    img {
      width: 400px;
      height: 274px;
    }
    h2 {
      font-size: 25px;
      font-weight: bold;
    }
    p {
      font-size: 16px;
    }
    .detail-component {
      // margin: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 100px;
      @media screen and (max-width: 788px) {
        flex-direction: column;
        img{
          order:-1;
          width: 200px;
        }
        div{
          margin: 20px;
        }
        
      }

      div {
        max-width: 391px;
        max-height: 211px;
      }
    }
  }
  .how-it-works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;

    .title {
      max-width: 630px;
      max-height: 142px;
      padding: 10px;
      align-self: center;
      @media screen and (max-width: 788px) {
        padding-bottom: 50px;
      }
       
    
      
      h2 {
        font-size: 25px;
        font-weight: bold;
        letter-spacing: 10px;
      }
      p {
        font-size: 18px;
        
      }
    }
    .steps {
      
      .steps-details {
        display: flex;
        justify-content: center;
        gap: 200px;
        padding-top: 200px;
        @media screen and (max-width: 788px) {
          margin: 20px;
          flex-direction: column;
          gap:0px;
          padding-top: 20px;
          align-items: center;
          
          img{
            order:-1
          }
        }
        div {
          max-width: 379px;
          max-height: 224px;
          text-align: left;
          h2 {
            font-size: 32px;
            font-weight: 600;
            @media screen and (max-width: 788px) {
              font-size: 25px;
            }
          }
          p {
            font-size: 18px;
            @media screen and (max-width: 788px) {
              font-size: 15px;
            }
          }
        }

        img {
          width: 287px;
          height: 285px;
          @media screen and (max-width: 788px) {
            width: 187px;
            height: 185px;
          }
        }
      }
    }
  }
  .get-quote {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    height: 142px;
    padding: 100px;
    text-align: left;
    padding-top: 200px;
    align-self: center;
    @media screen and (max-width: 788px) {
      align-items: start;
      flex-direction: column;
      gap:0px;
      padding: 20px;
    }

    div {
      max-width: 502px;

      h2 {
        font-size: 25px;
        font-weight: bold;
        @media screen and (max-width: 788px) {
          font-size: 18px;
        }
      }
      p {
        font-size: 18px;
        @media screen and (max-width: 788px) {
          font-size: 15px;
        }
      }
    }
    button {
      gap: 20px;
      @media screen and (max-width: 788px) {
        font-size: 15px;
      }
    }
    .vector {
      width: 10px;
      height: 10px;
      padding-bottom: 10px;
      margin-top: 10px;

    }
  }
}

// Pricing page

.pricing {
  min-height: 100%;
  width: 100%;
  background: linear-gradient(
    to top,
    white 0%,
    white 50%,
    #13141b 50%,
    #262c64 100%
  );
  background-color: #070911;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  position: relative;

  .heading {
    max-width: 640px;
    height: 123px;
    padding: 30px;
    padding-bottom: 200px;

    h2 {
      font-size: 38px;
      font-weight: bold;
    }
    p {
      font-size: 16px;
    }
  }
  .pricing-componenet {
    display: flex;
    border-radius: 10px;
    margin-bottom: 100px;
    align-items: center;
    .left {
      max-width: 315px;
      height: 345px;
      background-color: #040d42;
      box-shadow: 10px;
      border-radius: 10px;

      h2 {
        margin-left: 40px;
        text-align: center;
        font-size: 23px;
        font-weight: 500;
        width: 235px;
        height: 76px;
      }
      span {
        font-size: 38px;
        font-weight: 500;
      }
      p {
        font-size: 12px;
      }
    }
    .right {
      min-width: 300px;
      max-width: 400px;
      box-shadow: 5px 5px 5px 5px rgb(85, 84, 84);
      background-color: white;
      border-radius: 10px;
      margin-left: -10px;
      color: #000000;
      align-items: center;
      display: flex;
      flex-direction: column;
      padding: 20px;

      div {
        margin-top: 30px;
      }

      .price {
        display: flex;
        gap: 10px;

        span {
          font-size: 44px;
          font-weight: 500;
        }
        p {
          font-size: 14px;
          font-weight: 500;
          color: #636363;
          padding-top: 20px;
        }
      }
      .line-heading {
        display: flex;
        gap: 10px;
        color: #5c5c5c;
        font-size: 16px;
        font-weight: 400;

        .line {
          border-top: 2px solid #6d4d4d;
        }
      }
      .details {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        font-size: 13px;
        font-weight: 400;
        margin: 5px;
        .details-column {
          display: flex;
          gap: 0px;
          div {
            margin-top: 0px;
          }
        }
      }
      .button {
        margin-top: 50px;
      }
    }
  }
  @media screen and (max-width: 768px) {
    background-image: url("../assets/BGPricong.png");
    background-size: cover;
    .pricing-componenet {
      display: flex;
      flex-direction: column;
    }

    .details {
      flex-direction: column;
      line-height: 1;
    }
  }
}

// about ar

.about-ar {
  display: flex;
  // flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  color: white;
  min-height: 100vh;
  background-color: black;
  align-items: center;
  width: 100%;
  // overflow: hidden;
  .ar-top {
    display: flex;
    gap: 100px;
    margin-top: 30px;
    .about-ar-main {
      font-size: 54px;
      font-weight: bold;
      img{
        width: 60px;
      }
    }
    .chair-main {
      max-width: 402px;
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 0px;
      text-align: center;
      .about-ar-main {
        font-size: 40px;
        img {
          width: 30px;
        }
      }
      .chair-main {
        max-width: 200px;
        order: -1;
      }
    }
  }
  .ar-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    margin-bottom: 10%;
    .main-heading {
      text-align: center;
      max-width: 752px;
      max-height: 142px;
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 10%;
      line-height: 1;
      @media screen and (max-width: 768px) {
        margin: 20px;
        font-size: 20px;
        line-height: 1.5;
      }
    }
    .images {
      div {
        width: 100vw;
        min-height: 400px;
        height: auto;
        font-size: 28px;
        font-weight: bold;
        color: #000000;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        background-position: center;
       

        span {
          display: inline-block;
          margin: 100px;
          min-height: 350px;
          @media screen and (max-width: 768px) {
            font-size: 25px;
            margin: 30px;
          }
        }
      }
    }
  }
}

// 3D-CONFIGURATOR

.configurator {
  background-image: url("../assets//BGConfigurator.png");
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  background-color: #000000;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    margin-bottom: 50px;
  }

  .congigurator-main {
    margin-left: 6%;
    display: flex;
    gap: 80px;
    .main-content {
      padding-top: 50px;
      h2 {
        font-size: 62px;
        font-weight: 600;
      }
      p {
        font-size: 18px;
        margin-top: -50px;
        margin-top: 20px;
      }
      div {
        padding-top: 20px;
        display: flex;
        gap: 30px;
      }
    }
    img {
      margin-top: 80px;
      margin-left: -100px;
      width: 600px;
    }

    @media screen and (max-width: 1150px) {
      gap: 0px;
      margin-left: 0px;
      .main-content {
        h2 {
          font-size: 45px;
        }
        p {
          font-size: 15px;
        }
        button {
          font-size: 15px;
        }
      }

      img {
        max-width: 500px;
        margin-left: 0px;
        margin-top: 60px;
      }
    }
    @media screen and (max-width: 868px) {
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-content: center;

      .main-content {
        padding-top: 0px;
        h2 {
          font-size: 35px;
        }
        p {
          font-size: 12px;
        }
        button {
          font-size: 12px;
        }
        div {
          align-content: center;
          justify-content: center;
          padding-top: 20px;
          display: flex;
          gap: 10px;
        }
      }
      img {
        order: -1;
        max-width: 350px;
      }
    }
  }

  .upload {
    display: flex;
    align-items: center;
    gap: 100px;
    @media screen and (max-width: 868px) {
      flex-direction: column;
      gap: 0px;
    }

    div {
      width: 200px;
      height: 250px;
      align-items: center;
      display: flex;
      flex-direction: column;
      background-color: #151515;
      border-radius: 20px;
      img {
        width: 50px;
        margin-top: 20px;
      }
      p {
        margin: 10px;
        font-size: 14px;
        text-align: center;
      }
    }
  }
  .configurator-detail {
    background-color: #070911;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .detailss {
      display: flex;
      gap: 80px;

      @media screen and (max-width: 868px) {
        flex-direction: column;
        gap: 0px;
      }
      div {
        display: flex;
        flex-direction: column;
        max-width: 491px;
        max-height: 371px;
        margin-top: 100px;
        @media screen and (max-width: 868px) {
          margin-top: 0px;
          margin: 20px;
        }
        span {
          font-size: 32px;
          font-weight: bold;
          line-height: 1;
          @media screen and (max-width: 868px) {
            font-size: 20px;
          }

        }
        p {
          font-size: 16px;
          @media screen and (max-width: 868px) {
            font-size: 14px;
          }
        }
      }
      img {
        max-width: 489px;
        // height: 410px;
        @media screen and (max-width: 868px) {
          width: 350px;
          order: -1;
        }

      }
    }
  }
  .contact-us {
    font-size: 40px;
    font-weight: bold;
    min-height: 500px;
  }
}

// Login Page /signUp

.login {
  background-color: #1e1e1e;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 200px;

  .form {
    width: 421px;
    min-height: 481px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 30px;
      font-weight: bolder;
    }
    Button {
      margin-left: 33%;
    }
    .signup-link {
      color: #bebebe;
      padding-top: 30px;
      gap: 10px;
      font-size: 12px;
      .link {
        text-decoration: none;
        color: rgb(255, 255, 255);
      }
    }
  }

  .image {
    background-image: url("../assets/Login.png");
    width: 569px;
    height: 587px;

    @media screen and (max-width: 1200px) {
      display: none;
    }
  }
}

// Login form style

.group {
  position: relative;
  margin-bottom: 45px;
  display: flex;
}

select {
  border: none;
  appearance: none;
}
option {
  font-size: 12px;
}
input,
select {
  font-size: 14px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 350px;
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: #1e1e1e;
  color: white;
}
input:focus,
select:focus {
  outline: none;
}

/* LABEL ======================================= */
label {
  color: #ffffff;
  font-size: 12px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label,
select:focus ~ label,
select:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #ffffff;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 100%;
}

select:focus ~ .bar:before,
select:focus ~ .bar:after {
  width: 100%;
}

.password-toggle-icon {
  margin-left: -50px;
}

// Custom slider

.rangeSlider-wrp {
  padding: 20px 0 50px 0;

  .sliderValue-wrp {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    .slider__left-value,
    .slider__right-value {
      font-weight: 400;
      font-size: 14px;
      color: #ffffff;
    }
  }

  .sliderTrack-wrp {
    position: relative;
    width: 70%;
    margin-left: 10%;

    .slider__track,
    .slider__range {
      position: absolute;
      border-radius: 8px;
      height: 10px;
      // width: 40%;
    }

    .slider__track {
      background-color: #2e158a;
      width: 100%;
      z-index: 1;
      box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
    }

    .slider__range {
      background-color: #4418ca;
      z-index: 2;
    }
  }

  .sliderRange-wrp {
    @include flex-between();
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    margin-top: -10px;
    padding-left: 15px;
    padding-right: 23px;
  }

  .thumb-wrp {
    position: relative;
  }

  .thumb,
  .thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
  }

  .thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 70%;
    margin-left: 9%;
    outline: none;
    margin-top: -8px;
    background: rgba(255, 255, 255, 0);
    border: 2px solid #040d42;
  }

  .thumb--right {
    z-index: 3;
  }

  /* For Chrome browsers */
  .thumb::-webkit-slider-thumb {
    border: none;
    border-radius: 50%;
    background: #fffdfd;
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }

  /* For Firefox browsers */
  .thumb::-moz-range-thumb {
    border: none;
    border-radius: 50%;
    background: #292929;
    cursor: pointer;
    height: 16px;

    width: 16px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
  }
  &.singleRange {
    .sliderValue-wrp {
      .slider__left-value {
        display: none;
      }
      span {
        display: none;
      }
    }
    .thumb--left {
      display: none;
    }
  }
}

// User Dashboard

// .dashboard {
//   background-color: rgb(41, 39, 39);
//   color: white;
//   display: flex;
//   min-height: 100vh;
//   display: flex;
//   margin-left: 250px;
//   @media screen and (max-width: 768px) {
//     margin-left: 0;
//   }

//   .dashboard-data {
//     margin-top: 30px;
//     margin: 100px;
//     display: flex;
//     flex-direction: column;

//     row-gap: 50px;

//     .upload-buttons {
//       display: flex;
//       gap: 30px;

//       .button-container {
//         background-color: inherit;
//         width: 300px;
//         outline: none;
//         color: white;
//         background: none;
//         border: none;
//         display: flex;
//         border: 1px solid #7a7a7a;
//         border-radius: 5px;
//         text-align: left;
//         gap: 15px;
//         padding: 10px;
//         line-height: 0;

//         h4 {
//           font-size: 14px;
//         }
//         p {
//           font-size: 12px;
//         }

//         .uploadbutton {
//           margin-left: 60px;
//           background-color: inherit;
//           color: #9c9a9a;
//           border: none;
//           outline: none;
//           background: none;
//           // align-self: flex-end;
//           font-size: 26px;
//         }
//       }
//     }

//     table {
//       border-radius: 10px;
//       border: #4f4f4f solid;
//       gap: 30px;
//       font-size: 14px;
//       width: 800px;

//       td {
//         padding-left: 15px;
//         padding-right: 15px;

//         button {
//           background-color: inherit;
//           border: none;
//           outline: none;
//           background: none;
//           color: #07bdff;
//         }

//         .custon-button {
//           background-color: white;
//           border-radius: 10px;
//           font-size: 12px;
//           height: 20px;
//           width: 50px;
//         }
//       }
//     }
//   }
// }

// Progress bar

.progress-container {
  width: 70%;
  position: relative;
  display: inline-block;
  background: #0b2a60;
  height: 15px;
  overflow: hidden;
  border-radius: 10px;

  progress {
    opacity: 0;
  }

  .bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: $lineargradient;
    border-radius: 10px;
  }
}

// .surveybar-conatiner {
//   margin-bottom: 30px;

//   @media screen and (max-width: 767px) {
//     margin-bottom: 20px;
//   }

//   .bar {
//     background: blue;
//   }
// }
//7-dat free Trial

.features-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  div {
    width: 350px;
    height: 180px;
    // margin: 50px;
    // padding-left: 100px;

    h2 {
      font-size: 30px;
      font-weight: bold;
    }
    p {
      font-size: 15px;
    }
  }
  .button {
    margin: 100px;

    .vector {
      width: 10px;
      height: 10px;
      padding-bottom: 10px;
      margin-top: 10px;
    }

    @media screen and (max-width: 768px) {
      margin: 0;
      width: 200px;
      // margin-left: 500px;
    }
  }
}

// reusable

.blue-text {
  color: #07bdff;
  // font-weight: bold;
}

//

.up-button {
  align-self: center;
  background-color: inherit;
  border: none;
  @media screen and (max-width: 810px) {
    display: none;
  }
}

/* For links */
a:hover {
  cursor: pointer;
}

/* For buttons */
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
  cursor: pointer;
}
